<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Behavior</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="style.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>
    <style>
            h4{
            color: crimson;
        }
        </style>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>COE REWARD</h3>
            </div>

            <ul class="list-unstyled components">
                <p>All Functions</p>
                <li>
                    <a href="http://localhost:3000/Main" >Main</a>
                </li>
                <li>
                    <a href="#MemberSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Member</a>
                    <ul class="collapse list-unstyled" id="MemberSubmenu">
                        <li>
                            <a href="http://localhost:3000/MemberInsert">Insert Member</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/MemberAll">All Member</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#HouseSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">House</a>
                    <ul class="collapse list-unstyled" id="HouseSubmenu">
                        <li>
                            <a href="http://localhost:3000/Bill">Bill Gates</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/Larry">Larry Page</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/Elon">Elon Mask</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/Mark">Mark Zuckerberg</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#EventSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Event</a>
                    <ul class="collapse list-unstyled" id="EventSubmenu">
                        <li>
                            <a href="http://localhost:3000/EventContent">New Event</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/AllEvent">All Event</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/EventTypeDisplay">Event Type</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/CreatedByDisplay">Created By</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#BehaviorSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Behavior</a>
                    <ul class="collapse list-unstyled" id="BehaviorSubmenu">
                        <li>
                            <a href="http://localhost:3000/BehaviorContent">Insert Behavior Content</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/EditBehavior">Edit Behavior</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#PointSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Point</a>
                    <ul class="collapse list-unstyled" id="PointSubmenu">
                        <li>
                            <a href="http://localhost:3000/IncreasePoint">Increase Point</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/DecreasePoint">Decrease Point</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#RewardSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Rewards</a>
                    <ul class="collapse list-unstyled" id="RewardSubmenu">
                        <li>
                            <a href="http://localhost:3000/rewardContent">Insert Reward content</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/editReward">Edit content</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="http://localhost:3000/getYear">Calender for Academic Year</a>
                </li>
                <li>
                    <a href="http://localhost:3000/forAdmin">Admin</a>
                </li>
                <li>
                    <a href="http://localhost:3000/getReport">Report</a>
                </li>

            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="http://localhost:3000/Alumni">Alumni</a>
                </li>
                {{!-- <li>
                    <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
                </li> --}}
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <p class="mx-1 d-flex justify-content-end" style="color:black;font-weight: bold;" id="username">Welcome</p> 
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="http://localhost:3000/logout">Log Out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

             <h2 class="m-2 p-3 mb-2 bg-info text-white">Behavior</h2>
            
            <div class="row d-flex justify-content-end">
                <div class="col-5 ">
                    <div class="container">
                        <form action="">
                            <div class="row">
                                <div class="col-12 mt-2">
                                    <div class="input-group">
                                        <input class="form-control border-secondary py-2" type="search" id="search" placeholder="Search By Id">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button" >
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="container">
                    <div class="table-responsive">
                        <table id="behavior" class="table table-bordred table-striped justify-content-center text-center text-center">
                        </table>
                    </div>
                    <div class="row m-3 d-flex justify-content-between">
                            <button type="button" onclick="prevPage()"  class="btn btn-outline-info btn-lg" id="btn_prev">Prev</button>
                            <span style="font-weight: bold;" id="page"></span>
                            <button type="button" onclick="nextPage()"  class="btn btn-outline-info btn-lg" id="btn_next">Next</button>
                    </div>
                </div>
            </div>
            <div class="line"></div>

        </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
        document.getElementById("username").innerHTML = "User : "+ name
        var current_page = 1;
        var records_per_page = 10;
        
        var data = "{{dataBehavior}}"
        var dataBehavior = JSON.parse(decodeURI(data))
        var Behavior = [];

        // ==============Display data================
        function prevPage(){  
            if (current_page > 1) {
                current_page--;
                changePage(current_page);
            }
        }

        function nextPage(){
            if (current_page < numPages()) {
                current_page++;
                changePage(current_page);
            }
        }

        function changePage(page){
            var btn_next = document.getElementById("btn_next");
            var btn_prev = document.getElementById("btn_prev");
            let display_Behavior = "<thead ><th>No</th><th>ชื่อพฤติกรรม</th><th>คะแนน</th><th>รายละเอียด</th><th>แก้ไขข้อมูล</th></thead>";
            var page_span = document.getElementById("page");

            // Validate page
            if (page < 1) page = 1;
            if (page > numPages()) page = numPages();

            document.getElementById("behavior").innerHTML = ""; // แสดงผลข้อมูลตารางให้ว่าง

            for (var i = (page-1) * records_per_page; i < (page * records_per_page) && i < dataBehavior.length; i++) {
                display_Behavior += "<tbody><tr><td>" + (i + 1) + "</td><td>" + dataBehavior[i].Behavior_Name + "</td><td>" + dataBehavior[i].Behavior_Point + "</td><td>" + dataBehavior[i].Behavior_Description + "</td><td><form action='http://localhost:3000/behavior/"+dataBehavior[i].Behavior_ID+"' method='POST'><p><button class='btn btn-info btn-xs'><i class='fas fa-edit'></i> แก้ไข</button></p></form></td></tr></tbody>"
                document.getElementById("behavior").innerHTML = display_Behavior
            }
            page_span.innerHTML = "Page " + page; // แสดงผลหน้า

            if (page == 1) {
                btn_prev.style.visibility = "hidden";
            } else {
                btn_prev.style.visibility = "visible";
            }

            if (page == numPages()) {
                btn_next.style.visibility = "hidden";
            } else {
                btn_next.style.visibility = "visible";
            }
        }

        function numPages(){
            return Math.ceil(dataBehavior.length / records_per_page);
        }

        window.onload = function() {
            changePage(1);
        };
        //================== push and sort ================
        for (let i = 0; i < dataBehavior.length; i++) {
            Behavior.push(dataBehavior[i])
            myFunction()  
            //display_Behavior += "<tbody><tr><td>" + (i + 1) + "</td><td>" + Member[i].Member_ID + "</td><td>" + Member[i].Member_Name + "</td><td>" + Member[i].Member_Lastname + "</td><td>" + Member[i].Member_House + "</td></td><td><p data-placement='top' data-toggle='tooltip' title='Edit'><button class='btn btn-primary btn-xs'  onclick='ShowModal_Edit(" + i + ")' data-title='Edit' data-toggle='modal' data-target='#edit' ><i class='fas fa-edit'></i></button></p></td><td><p data-placement='top' data-toggle='tooltip' title='Delete'><button onclick='ShowModal_delete(" + i + ")' class='btn btn-danger btn-xs' data-title='Delete' data-toggle='modal'><i class='fas fa-trash-alt'></i></button></p></td></tr></tbody>"
        }
        function myFunction() {
            dataBehavior.sort(function (a, b) { return b.Member_Total - a.Member_Total });
            //console.log(Member)
        }

        // =========== Search============= 
        $(document).ready(function () {
            $('#search').keyup(function () {
                search_table($(this).val())
            });

            function search_table(value) {
                $('#behavior tbody').each(function () {
                    var found = 'false';
                    $(this).each(function () {
                        if ($(this).text().toLocaleLowerCase().indexOf(value.toLocaleLowerCase()) >= 0) {
                            found = 'true'
                        }
                    });
                    if (found == 'true') {
                        $(this).show()
                    } else {
                        $(this).hide()
                    }
                })
            }
        })

    </script>
</body>

</html>