<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>ลบคะแนนรายบุคคล</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/style.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <style>
        p {
            font-size: 20px;
            color: black
        }

        h4 {
            color: crimson;
        }
    </style>


</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>COE REWARD</h3>
            </div>

            <ul class="list-unstyled components">
                <p>All Functions</p>
                <li>
                    <a href="http://localhost:3000/Main">Main</a>
                </li>
                <li>
                    <a href="#MemberSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Member</a>
                    <ul class="collapse list-unstyled" id="MemberSubmenu">
                        <li>
                            <a href="http://localhost:3000/MemberInsert">Insert Member</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/MemberAll">All Members</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#HouseSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">House</a>
                    <ul class="collapse list-unstyled" id="HouseSubmenu">
                        <li>
                            <a href="http://localhost:3000/Bill">Bill Gates</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/Larry">Larry Page</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/Elon">Elon Mask</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/Mark">Mark Zuckerberg</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#EventSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Event</a>
                    <ul class="collapse list-unstyled" id="EventSubmenu">
                        <li>
                            <a href="http://localhost:3000/EventContent">New Event</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/AllEvent">All Events</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/EventTypeDisplay">Event Type</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/CreatedByDisplay">Created By</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#BehaviorSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Behavior</a>
                    <ul class="collapse list-unstyled" id="BehaviorSubmenu">
                        <li>
                            <a href="http://localhost:3000/BehaviorContent">Insert Behavior Content</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/EditBehavior">Edit Behavior</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#PointSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Point</a>
                    <ul class="collapse list-unstyled" id="PointSubmenu">
                        <li>
                            <a href="http://localhost:3000/IncreasePoint">Increase Point</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/DecreasePoint">Decrease Point</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#RewardSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Rewards</a>
                    <ul class="collapse list-unstyled" id="RewardSubmenu">
                        <li>
                            <a href="http://localhost:3000/rewardContent">Insert Reward Content</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/editReward">Edit Rewards</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/RedeemRewards">Redeem Rewards</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="http://localhost:3000/getYear">Calender for Academic Year</a>
                </li>
                <li>
                    <a href="http://localhost:3000/forAdmin">Admin</a>
                </li>
                <li>
                    <a href="http://localhost:3000/getReport">Report</a>
                </li>

            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="http://localhost:3000/Alumni">Alumni</a>
                </li>
                {{!--
                <li>
                    <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
                </li> --}}
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <p class="mx-1 d-flex justify-content-end" style="color:black;font-weight: bold;" id="username">Welcome</p>  
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item ">
                                <a class="nav-link" href="http://localhost:3000/logout">Log Out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <h2 class="m-2 p-3 mb-2 bg-info text-white">Decrease Point By Individual</h2>
            <div class="container">
                <div class="row m-4">
                    <h3 class="font-weight-bold" style="text-decoration: underline;"> ข้อมูลคะแนนพฤติกรรม</h3>
                </div>
                <form action="http://localhost:3000/DecBehaviorIndividual" method="POST">
                    <div class="row mt-3">
                        <div class="col-3">
                            <div class="form-group">
                                <label for="Event_Name">รหัสข้อมูลคะแนนพฤติกรรม :</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <input type="text" name="Behavior_ID" id="Behavior_ID" class="form-control input-lg" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-3">
                            <div class="form-group">
                                <label for="Behavior_Name">ข้อมูลคะแนนพฤติกรรม :</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <input type="text" name="Behavior_Name" id="Behavior_Name" class="form-control input-lg" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-3">
                            <div class="form-group">
                                <label for="Event_Name">คะแนน :</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <input type="number" name="Behavior_Point" id="Behavior_Point" class="form-control input-lg" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-3">
                            <div class="form-group">
                                <label for="Event_Name">คำอธิบาย :</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <textarea type="text" name="Behavior_Description" id="Behavior_Description" class="form-control input-lg" rows="3" readonly></textarea>
                            </div>
                        </div>
                    </div>
            </div>
            <hr>
            <div class="container">

                <div class="row m-4">
                    <h3 class="font-weight-bold" style="text-decoration: underline;">เพิ่มข้อมูลสมาชิก</h3>
                </div>
                <div class="row ">
                    <div class="col d-flex justify-content-end">
                        <p>ค้นหาข้อมูลสมาชิก</p>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <div class="input-group">
                            <input class="form-control border-info py-2" type="text" pattern="[0-9]{8}" maxlength="8" placeholder="Search By Id" id="SearchData">
                            <div class="input-group-append">
                                <button onclick="search_id()" class="btn btn-outline-secondary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="container">
                        <div class="row mt-3">
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="Event_Name">รหัสนักศึกษา :</label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <input type="text" name="Member_ID" id="Member_ID" class="form-control input-lg" readonly>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="Event_Name">ชื่อนักศึกษา :</label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <input type="text" name="Member_Name" id="Member_Name" class="form-control input-lg" readonly>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="Event_Name">นามสกุล :</label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <input type="text" name="Member_Lastname" id="Member_Lastname" class="form-control input-lg" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="Event_Name">House :</label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <input type="text" name="Member_House" id="Member_House" class="form-control input-lg" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row mt-4 mr-5 justify-content-end">
                    <button type="submit" class="btn btn-success btn-lg" id="button_save">Save</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    {{!-- ################### Modal ######################### --}}
    <div class="modal" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Please enter the correct ID.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    {{!-- ############################################################################################################# --}}

    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
        document.getElementById("username").innerHTML = "User : "+ name
        
        var data2 = "{{data}}"
        var data = JSON.parse(decodeURI(data2))
        var Behavior = []
        var Member = [];
        for (let i = 0; i < data.Behavior.length; i++) {
            Behavior.push(data.Behavior[i])
        }
        for (let i = 0; i < data.Member.length; i++) {
            Member.push(data.Member[i])
        }
        //console.log(Behavior)
        //console.log(Member)

        for (let i = 0; i < Behavior.length; i++) {
            document.getElementById("Behavior_ID").value = Behavior[0].Behavior_ID
            document.getElementById("Behavior_Name").value = Behavior[0].Behavior_Name
            document.getElementById("Behavior_Point").value = Behavior[0].Behavior_Point
            document.getElementById("Behavior_Description").value = Behavior[0].Behavior_Description
        }
        document.getElementById("button_save").disabled = true

        function search_id() {
            document.getElementById("Member_ID").value = null
            document.getElementById("Member_Name").value = null
            document.getElementById("Member_Lastname").value = null
            document.getElementById("Member_House").value = null

            let id = document.getElementById("SearchData").value
            // console.log(id)
            for (let i = 0; i < Member.length; i++) {
                if (Member[i].Member_ID == id) {
                    //console.log(Member[i].Member_ID)
                    document.getElementById("Member_ID").value = Member[i].Member_ID
                    document.getElementById("Member_Name").value = Member[i].Member_Name
                    document.getElementById("Member_Lastname").value = Member[i].Member_Lastname
                    document.getElementById("Member_House").value = Member[i].Member_House
                    document.getElementById("button_save").disabled = false
                    return 0;
                }
            }
        }
    </script>
</body>

</html>