<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Redeem Rewards</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="style.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>
    <style>
        h4 {
            color: crimson;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>COE REWARD</h3>
            </div>

            <ul class="list-unstyled components">
                <p>All Functions</p>
                <li>
                    <a href="http://localhost:3000/Main">Main</a>
                </li>
                <li>
                    <a href="#MemberSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Member</a>
                    <ul class="collapse list-unstyled" id="MemberSubmenu">
                        <li>
                            <a href="http://localhost:3000/MemberInsert">Insert Member</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/MemberAll">All Members</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#HouseSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">House</a>
                    <ul class="collapse list-unstyled" id="HouseSubmenu">
                        <li>
                            <a href="http://localhost:3000/Bill">Bill Gates</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/Larry">Larry Page</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/Elon">Elon Mask</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/Mark">Mark Zuckerberg</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#EventSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Event</a>
                    <ul class="collapse list-unstyled" id="EventSubmenu">
                        <li>
                            <a href="http://localhost:3000/EventContent">New Event</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/AllEvent">All Events</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/EventTypeDisplay">Event Type</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/CreatedByDisplay">Created By</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#BehaviorSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Behavior</a>
                    <ul class="collapse list-unstyled" id="BehaviorSubmenu">
                        <li>
                            <a href="http://localhost:3000/BehaviorContent">Insert Behavior Content</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/EditBehavior">Edit Behavior</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#PointSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Point</a>
                    <ul class="collapse list-unstyled" id="PointSubmenu">
                        <li>
                            <a href="http://localhost:3000/IncreasePoint">Increase Point</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/DecreasePoint">Decrease Point</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#RewardSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Rewards</a>
                    <ul class="collapse list-unstyled" id="RewardSubmenu">
                        <li>
                            <a href="http://localhost:3000/rewardContent">Insert Reward Content</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/editReward">Edit Rewards</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/RedeemRewards">Redeem Rewards</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="http://localhost:3000/getYear">Calender for Academic Year</a>
                </li>
                <li>
                    <a href="http://localhost:3000/forAdmin">Admin</a>
                </li>
                <li>
                    <a href="http://localhost:3000/getReport">Report</a>
                </li>

            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="http://localhost:3000/Alumni">Alumni</a>
                </li>
                {{!--
                <li>
                    <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
                </li> --}}
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <p class="mx-1 d-flex justify-content-end" style="color:black;font-weight: bold;" id="username"></p>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="http://localhost:3000/logout">Log Out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <h2 class="m-2 p-3 mb-2 bg-info text-white">Redeem Rewards</h2>

            <form action="http://localhost:3000/saveRedeemReward" method="POST" >
                <div class="row m-4">
                    <h3>รายการสินค้า</h3>
                </div>
                <div class="container" style=" border-radius: 25px;border: 2px solid rgb(69, 73, 63);">
                    <div class="row mt-1">
                        <div class="col-6">
                            <div class="row m-4">
                                <div class="col-4">
                                    <label for="Event_Semester" class="col-form-label">Select Reward </label>
                                </div>
                                <div class="col-1">
                                    <h3>:</h3>
                                </div>
                                <div class="col-6">
                                    <select class="form-control" id="Reward_Name" name="Reward_Name" required>


                                    </select>
                                </div>
                                <div class="col-1">
                                    <h4>*</h4>
                                </div>
                            </div>
                            <div class="row m-4">
                                <div class="col-4">
                                    <label for="Event_Type" class="col-form-label">Reward ID</label>
                                </div>
                                <div class="col-1">
                                    <h3>:</h3>
                                </div>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="Reward_ID" name="Reward_ID" placeholder="Reward ID" required readonly>
                                </div>
                                <div class="col-1">
                                    <h4>*</h4>
                                </div>
                            </div>
                            <div class="row m-4">
                                <div class="col-4">
                                    <label for="Event_Type" class="col-form-label">จำนวนคงเหลือ</label>
                                </div>
                                <div class="col-1">
                                    <h3>:</h3>
                                </div>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="Reward_Quantity" name="Reward_Quantity" placeholder="จำนวนคงเหลือ" required readonly>
                                </div>
                                <div class="col-1">
                                    <h4>*</h4>
                                </div>
                            </div>
                            <div class="row m-4">
                                <div class="col-4">
                                    <label for="Event_CreatedBy" class="col-form-label">คะแนนที่ใช้</label>
                                </div>
                                <div class="col-1">
                                    <h3>:</h3>
                                </div>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="Reward_Point" name="Reward_Point" placeholder="คะแนนที่ใช้" required readonly>
                                </div>
                                <div class="col-1">
                                    <h4>*</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row m-4" id="img_reward">

                            </div>
                        </div>
                    </div>


                </div>

                {{!-- ########################################################################### --}}
                <div class="row m-4">
                    <h3>ข้อมูลสมาชิก</h3>
                </div>
                <div class="container" style=" border-radius: 25px;border: 2px solid rgb(69, 73, 63);">
                    <div class="row">
                        <div class="col-4">
                            <div class="row m-4">
                                <h4>Picture</h4>
                            </div>
                            <div class="row m-4" id="img_member">

                            </div>
                        </div>
                        <div class="col-8">
                            <div class="row m-4">
                                <div class="col-3">
                                    <label for="Event_CreatedBy" class="col-form-label">Student ID</label>
                                </div>
                                <div class="col-1">
                                    <h3>:</h3>
                                </div>
                                <div class="col-4">
                                    <input type="number" class="form-control" placeholder="58XXXXXX" pattern="[0-9]{8}" maxlength="8" id="Member_ID" name="Member_ID"
                                        placeholder="Student ID" required>
                                </div>
                                <div class="col-1">
                                    <button type="button" id="search" class="btn btn-outline-dark">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                <div class="col-1">
                                    <h4>*</h4>
                                </div>
                            </div>
                            <div class="row m-4">
                                <div class="col-3">
                                    <label for="Event_CreatedBy" class="col-form-label">Name</label>
                                </div>
                                <div class="col-1">
                                    <h3>:</h3>
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" id="Member_Name" name="Member_Name" placeholder="Name Lastname" required>
                                </div>
                                <div class="col-1">
                                    <h4>*</h4>
                                </div>
                            </div>
                            <div class="row m-4">
                                <div class="col-3">
                                    <label for="Event_CreatedBy" class="col-form-label">Available Point</label>
                                </div>
                                <div class="col-1">
                                    <h3>:</h3>
                                </div>
                                <div class="col-4">
                                    <input type="number" class="form-control" id="Member_Available" name="Member_Available" placeholder="Available Point" required>
                                </div>
                                <div class="col-1">
                                    <h4>*</h4>
                                </div>
                            </div>
                            <div class="row m-4">
                                <div class="col-5">
                                    <label for="Event_CreatedBy" class="col-form-label">จำนวนของรางวัลที่ต้องการแลก </label>
                                </div>
                                <div class="col-1">
                                    <h3>:</h3>
                                </div>
                                <div class="col-2">
                                    <select  type="text" class="form-control" name="Member_RewardQuantity" id="Member_RewardQuantity">
                                        
                                    </select>
                                </div>
                                <div class="col-1">
                                    <h5>X</h5>
                                </div>
                                <div class="col-2">
                                    <input type="text" class="form-control" id="Reward_Point1" name="Reward_Point1"  required readonly>
                                </div>
                                <div class="col-1">
                                    <h4>*</h4>
                                </div>
                            </div>
                            <div class="row m-4">

                                <div class="col-8">
                                    <label for="Event_CreatedBy" class="col-form-label">รวมคะแนนที่ใช้</label>
                                </div>
                                <div class="col-1">
                                    <h3>=</h3>
                                </div>
                                <div class="col-2">
                                    <input type="number" class="form-control" id="Member_UsePoint" name="Member_UsePoint" required>
                                </div>
                                <div class="col-1">
                                    <h4>*</h4>
                                </div>
                            </div>
                            <div class="row m-4">
                                <div class="col-8">
                                    <label for="Event_CreatedBy" class="col-form-label">คะแนนคงเหลือ </label>
                                </div>
                                <div class="col-1">
                                    <h3>=</h3>
                                </div>
                                <div class="col-2">
                                    <input type="text" class="form-control" id="Member_Remain" name="Member_Remain" required>
                                </div>
                                <div class="col-1">
                                    <h4>*</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row m-4 d-flex justify-content-end">
                    <div class="col-2">
                        <button type="submit" id="save_data" class="btn btn-lg btn-block btn-primary">Save</button>
                    </div>
                </div>
            </form>

            {{!-- ########### No ID ############# --}}
            <div class="modal" id="error_data" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p style="color: rgb(0, 0, 0);">Can't find data from ID, Please inter the correct ID.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
                        </div>
                    </div>
                </div>
            </div>


            {{!-- ########### No ID ############# --}}
            <div class="modal" id="error_point" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p style="color: rgb(0, 0, 0);">Can't redeem this reward. Member does't have enough point.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
        //document.getElementById("username").innerHTML = "User : " + name
        var data2 = "{{data}}"
        var data = JSON.parse(decodeURI(data2))
        let Reward = [];
        var point = 0
        var use_point = 0
        let avai_point =0
        let Option_Reward = '<option  selected disabled>Please select</option>'
        let Option_Quantity = '<option  selected disabled>0</option>'


        for (let i = 0; i < data.reward.length; i++) {
            Reward.push(data.reward[i])
        }
        //console.log(Reward)
        for (let i = 0; i < Reward.length; i++) {
            Option_Reward += '"<option value="' + Reward[i].Reward_Name + '">' + Reward[i].Reward_Name + '</option>"'
        }
        document.getElementById("Reward_Name").innerHTML = Option_Reward
        document.getElementById("save_data").disabled = true



        $(document).ready(function () {

            $('#Reward_Name').on('change', function () {
                let Quantity =0
                var myValue = $(this).val();
                var myText = $.trim($("#Reward_Name :selected").text()).toLowerCase(); // Trim spaces and convert to lowercase for comparison
                for (let i = 0; i < Reward.length; i++) {
                    if (Reward[i].Reward_Name == myValue) {
                        Quantity = Reward[i].Reward_Quantity
                        point = Reward[i].Reward_Point
                        let photo = Reward[i].Reward_Photo
                        document.getElementById("Reward_ID").value = Reward[i].Reward_ID
                        document.getElementById("Reward_Quantity").value = Reward[i].Reward_Quantity
                        document.getElementById("Reward_Point").value = point
                        document.getElementById("Reward_Point1").value = point
                        document.getElementById("img_reward").innerHTML = '  <img src="' + photo + '" class="rounded mx-auto d-block"  height="200" alt="" style="border-radius: 25px;border: 1px solid #DCDCDC;">'
                    }
                }

                // จำนวนที่แลกแต้มได้
                for(let i=0;i<Quantity ;i++){
                    Option_Quantity += "<option  value='"+(i+1)+"'>"+(i+1)+"</option>"
                }
                document.getElementById("Member_RewardQuantity").innerHTML = Option_Quantity
                
                // คะแนน
                use_point = document.getElementById("Member_RewardQuantity").value * document.getElementById("Reward_Point1").value
                document.getElementById("Member_UsePoint").value = use_point
                 if(avai_point<use_point){
                     document.getElementById("Member_Remain").value = ''
                     $('#error_point').modal({}); 
                     return 0 
                }else{
                    document.getElementById("Member_Remain").value = avai_point- use_point 
                    return 0 
                }
            });



            $('#search').on('click', function () {
                document.getElementById("save_data").disabled = false
                var id = document.getElementById("Member_ID").value;
                let Member = [];
            
                for (let i = 0; i < data.member.length; i++) {
                    if (data.member[i].Member_ID == id) {
                        Member.push(data.member[i])
                    }
                }


                if (Member.length == 1) {
                    let name = Member[0].Member_Name + " " + Member[0].Member_Lastname
                    avai_point = Member[0].Member_Available
                    let pic = Member[0].Member_Profile

                    document.getElementById("Member_Name").value = name
                    document.getElementById("Member_Available").value = avai_point
                    document.getElementById("img_member").innerHTML = '  <img src="' + pic + '" class="rounded mx-auto d-block"  height="200" alt="" style="border-radius: 25px;border: 1px solid #DCDCDC;">'

                } else if (Member.length == 0) {
                    $('#error_data').modal({}); 
                    document.getElementById("Member_Name").value = ''
                    document.getElementById("Member_Available").value = ''
                    document.getElementById("img_member").innerHTML = ' '
                }

            });

            $('#Member_RewardQuantity').on('change', function () {
                use_point = document.getElementById("Member_RewardQuantity").value * document.getElementById("Reward_Point1").value
                //console.log(use_point)
                document.getElementById("Member_UsePoint").value = use_point
                document.getElementById("Member_Remain").value = ''
                if(avai_point<use_point){
                     document.getElementById("Member_Remain").value = ''
                     $('#error_point').modal({}); 
                     return 0 
                }else{
                    document.getElementById("Member_Remain").value = avai_point- use_point 
                    return 0 
                }
            });
        });


        /*
                        
    */
    </script>
</body>

</html>