<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Created By Display</title>

        <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="style.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>COE REWARD</h3>
            </div>

            <ul class="list-unstyled components">
                <p>All Functions</p>
                <li>
                    <a href="http://localhost:3000/Main" >Main</a>
                </li>
                <li>
                    <a href="#MemberSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Member</a>
                    <ul class="collapse list-unstyled" id="MemberSubmenu">
                        <li>
                            <a href="http://localhost:3000/MemberInsert">Insert Member</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/MemberAll">All Member</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#HouseSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">House</a>
                    <ul class="collapse list-unstyled" id="HouseSubmenu">
                        <li>
                            <a href="http://localhost:3000/Bill">Bill Gates</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/Larry">Larry Page</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/Elon">Elon Mask</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/Mark">Mark Zuckerberg</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#EventSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Event</a>
                    <ul class="collapse list-unstyled" id="EventSubmenu">
                        <li>
                            <a href="http://localhost:3000/EventContent">New Event</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/AllEvent">All Event</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/EventTypeDisplay">Event Type</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/CreatedByDisplay">Created By</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#BehaviorSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Behavior</a>
                    <ul class="collapse list-unstyled" id="BehaviorSubmenu">
                        <li>
                            <a href="http://localhost:3000/BehaviorContent">Insert Behavior Content</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/EditBehavior">Edit Behavior</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#PointSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Point</a>
                    <ul class="collapse list-unstyled" id="PointSubmenu">
                        <li>
                            <a href="http://localhost:3000/IncreasePoint">Increase Point</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/DecreasePoint">Decrease Point</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#RewardSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Rewards</a>
                    <ul class="collapse list-unstyled" id="RewardSubmenu">
                        <li>
                            <a href="http://localhost:3000/rewardContent">Insert Reward content</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/editReward">Edit content</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="http://localhost:3000/getYear">Calender for Academic Year</a>
                </li>
                <li>
                    <a href="http://localhost:3000/forAdmin">Admin</a>
                </li>
                <li>
                    <a href="http://localhost:3000/getReport">Report</a>
                </li>

            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="http://localhost:3000/Alumni">Alumni</a>
                </li>
                {{!-- <li>
                    <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
                </li> --}}
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <p class="mx-1 d-flex justify-content-end" style="color:black;font-weight: bold;" id="username">Welcome</p>  
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="http://localhost:3000/logout">Log Out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
                        <h2 class="m-2 p-3 mb-2 bg-info text-white">Created By Display</h2>
            <div class="container">
                <div class="row mt-3">
                        <div class="col d-flex justify-content-end">
                                <a class="btn btn-primary" href="http://localhost:3000/CreatedByInsert" role="button">Insert Created By Data</a>
                        </div>
                </div>
                <div class="row mt-3">
                    <div class="container">
                        <div class="table-responsive">
                                <table id="table_CreatedBy" class="table justify-content-center text-center text-center">
                                      </table>    
                        </div>
                        <div class="row m-3 d-flex justify-content-between">
                            <button type="button" onclick="prevPage()"  class="btn btn-outline-info btn-lg" id="btn_prev">Prev</button>
                            <span style="font-weight: bold;" id="page"></span>
                            <button type="button" onclick="nextPage()"  class="btn btn-outline-info btn-lg" id="btn_next">Next</button>
                        </div>
                    </div>
                </div>
            </div>

             <!-- ================================= Delete   ===================================== -->
                    <div class="modal fade" id="delete_CreatedBy" data-curid="" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                    <h4 class="modal-title custom_align" id="Heading">Delete Created By</h4>
                                </div>
                                <div class="modal-body">

                                    <div class="alert alert-danger">
                                        <span class="glyphicon glyphicon-warning-sign"></span>
                                        Are you sure you want to delete this information?</div>

                                </div>
                                <div class="modal-footer ">

                                    <button onclick="POST_RemoveCreatedBy()" type="submit" class="btn btn-success">
                                        <span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                                    <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">
                                        <span class="glyphicon glyphicon-remove"></span> No</button>

                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
        </div>
    </div>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script> --}}

    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });

        document.getElementById("username").innerHTML = "User : "+ name
        var current_page = 1;
        var records_per_page = 10;

        var data = "{{dataCB}}"
        var dataCB = JSON.parse(decodeURI(data))
        var CreatedBy = [];
        
        // ==============Display data================
        function prevPage(){  
            if (current_page > 1) {
                current_page--;
                changePage(current_page);
            }
        }

        function nextPage(){
            if (current_page < numPages()) {
                current_page++;
                changePage(current_page);
            }
        }

        function changePage(page){
            var btn_next = document.getElementById("btn_next");
            var btn_prev = document.getElementById("btn_prev");
            var table_CreatedBy= "<thead class='thead-light'><th>No</th><th>Event Type</th><th>Delete</th></thead>"        
            var page_span = document.getElementById("page");

            // Validate page
            if (page < 1) page = 1;
            if (page > numPages()) page = numPages();

            document.getElementById("table_CreatedBy").innerHTML = ""; // แสดงผลข้อมูลตารางให้ว่าง

            for (var i = (page-1) * records_per_page; i < (page * records_per_page) && i < dataCB.length; i++) {
                table_CreatedBy+= "<tbody><tr><td>" + (i + 1) + "</td><td>" + dataCB[i].CreatedBy_Name + "</td><td><p data-placement='top' data-toggle='tooltip' title='Delete'><button onclick='ShowModal_deleteCreatedBy(" + i + ")' class='btn btn-danger btn-xs' data-title='Delete' data-toggle='modal'><i class='fas fa-trash-alt'></i></button></p></td></tr></tbody>"
                document.getElementById("table_CreatedBy").innerHTML = table_CreatedBy
            }
            page_span.innerHTML = "Page " + page; // แสดงผลหน้า

            if (page == 1) {
                btn_prev.style.visibility = "hidden";
            } else {
                btn_prev.style.visibility = "visible";
            }

            if (page == numPages()) {
                btn_next.style.visibility = "hidden";
            } else {
                btn_next.style.visibility = "visible";
            }
        }

        function numPages(){
            return Math.ceil(dataCB.length / records_per_page);
        }

        window.onload = function() {
            changePage(1);
        };
        
        // ======= push and sorting data ==========
        for(let i=0;i<dataCB.length;i++){
            CreatedBy.push(dataCB[i])
            myFunction()  
        }
        function myFunction() {
            dataCB.sort(function (a, b) { return b.Member_Total - a.Member_Total });
            //console.log(Member)
        }

        // ========== delete ===============
        function ShowModal_deleteCreatedBy(index) {
            $('#delete_CreatedBy').data('curid', index); // curid = index
            $('#delete_CreatedBy').modal('show');
        }
        function POST_RemoveCreatedBy() {
            let index = $('#delete_CreatedBy').data('curid')
            let id = CreatedBy[index].CreatedBy_ID
            //console.log('Created By will delete at ' + id)
            $.ajax('http://localhost:3000/removeCreatedBy', {
                data: JSON.stringify({ id }),
                contentType: 'application/json',
                type: 'POST',
            })
            alert(' Created By ID : ' + id + ' was deleted')
            location.reload();
        }

    </script>
</body>

</html>