<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Open Event Detail</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/style.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script> {{!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> --}} {{!--
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> --}}

    <style>
        h4,h6 {
            color: crimson;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>COE REWARD</h3>
            </div>

            <ul class="list-unstyled components">
                <p>All Functions</p>
                <li>
                    <a href="http://localhost:3000/Main">Main</a>
                </li>
                <li>
                    <a href="#MemberSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Member</a>
                    <ul class="collapse list-unstyled" id="MemberSubmenu">
                        <li>
                            <a href="http://localhost:3000/MemberInsert">Add Member</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/MemberAll">All Members</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#HouseSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">House</a>
                    <ul class="collapse list-unstyled" id="HouseSubmenu">
                        <li>
                            <a href="http://localhost:3000/Bill">Bill Gates</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/Larry">Larry Page</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/Elon">Elon Musk</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/Mark">Mark Zuckerberg</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#EventSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Event</a>
                    <ul class="collapse list-unstyled" id="EventSubmenu">
                        <li>
                            <a href="http://localhost:3000/EventContent">New Event</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/AllEvent">กิจกรรมที่มี</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/EventTypeDisplay">ประเภทกิจกรรม</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/CreatedByDisplay">ผู้จัดกิจกรรม</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#BehaviorSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Behavior</a>
                    <ul class="collapse list-unstyled" id="BehaviorSubmenu">
                        <li>
                            <a href="http://localhost:3000/BehaviorContent">เพิ่มข่อมูลพฤติกรรม</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/EditBehavior">ข้อมูลพฤติกรรมทั้งหมด</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#PointSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Point</a>
                    <ul class="collapse list-unstyled" id="PointSubmenu">
                        <li>
                            <a href="http://localhost:3000/IncreasePointMember">เพิ่มคะแนน</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/IncreasePoint">จัดการคะแนนตามกิจกรรม</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/DecreasePoint">จัดการคะแนนตามพฤติกรรม</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#RewardSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Rewards</a>
                    <ul class="collapse list-unstyled" id="RewardSubmenu">
                        <li>
                            <a href="http://localhost:3000/rewardContent">เพิ่มข้อมูลของรางวัล</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/editReward">ข้อมูลของรางวัลทั้งหมด</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/RedeemRewards">Redeem Rewards</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="http://localhost:3000/getYear">ปฏิทินการศึกษา</a>
                </li>
                <li>
                    <a href="http://localhost:3000/forAdmin">Admin</a>
                </li>
                <li>
                    <a href="http://localhost:3000/getReport">Report</a>
                </li>

            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="http://localhost:3000/Alumni">Alumni</a>
                </li>
            </ul>
        </nav>


        <!-- Page Content  -->
        <div id="content">
            <p class="mx-1 d-flex justify-content-end" style="color:black;font-weight: bold;" id="username">Welcome</p>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="http://localhost:3000/logout">Log Out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <h2 class="m-2 p-3 mb-2 bg-info text-white">รายละเอียดกิจกรรม</h2>
            <div class="container">
                <form action="http://localhost:3000/editOpenEvent" method="POST" enctype="multipart/form-data">
                    <div class="row m-4 d-flex justify-content-center" >
                        <div class="col-6 well text-center">
                            <div class="col-md-12 ">
                                <div class="row ">
                                    <div id="img1">
                                        <img id="img1">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-center">
                                        <h5 class="text-center">Change Picture</h5>
                                    </div>
                                    <div class="col">
                                        <input type="file" onchange="previewFile()" name="photos" multiple class="form-control" accept=".png, .jpg, .jpeg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-4">
                        <div class="col">
                            <div class="row m-4 ">
                                <div class="col-4">
                                    <label for="Event_Name" class="col-form-label">รหัสกิจกรรม</label>
                                </div>
                                <div class="col-5">
                                    <input type="text" class="form-control" id="Event_ID" name="Event_ID" placeholder="ID" readonly>
                                </div>
                                <div class="col-1">
                                    <h4>*</h4>
                                </div>
                            </div>
                            <div class="row m-4 ">
                                <div class="col-4">
                                    <label for="Event_Name" class="col-form-label">ชื่อกิจกรรม</label>
                                </div>
                                <div class="col-7">
                                    <textarea type="text" class="form-control" id="Event_Name" name="Event_Name" placeholder="ชื่อกิจกรรม" rows="3" required></textarea>
                                </div>
                                <div class="col-1">
                                    <h4>*</h4>
                                </div>
                            </div>
                            <div class="row m-4 ">
                                <div class="col-4">
                                    <label for="Event_Point" class="col-form-label">คะแนน</label>
                                </div>
                                <div class="col-5">
                                    <input type="number" class="form-control" id="Event_Point" name="Event_Point" placeholder="คะแนน" required>
                                </div>
                                <div class="col-1">
                                    <h4>*</h4>
                                </div>
                            </div>
                            <div class="row m-4">
                                <div class="col-4">
                                    <label for="Event_StartDate" class="col-form-label">วันที่เริ่มต้น</label>
                                </div>
                                <div class="col-5">
                                    <input type="date" class="form-control" id="Event_StartDate" name="Event_StartDate" required>
                                </div>
                                <div class="col-1">
                                    <h4>*</h4>
                                </div>
                            </div>
                            <div class="row m-4">
                                <div class="col-4">
                                    <label for="Event_EndDate" class="col-form-label">วันที่สิ้นสุด</label>
                                </div>
                                <div class="col-5">
                                    <input type="date" class="form-control" id="Event_EndDate" name="Event_EndDate" required>
                                </div>
                                <div class="col-1">
                                    <h4>*</h4>
                                </div>
                            </div>
                            <div class="row m-4">
                                <div class="col-4">
                                    <label for="Event_EndDate" class="col-form-label">เวลาเริ่มกิจกรรม</label>
                                </div>
                                <div class="col-5">
                                    <input type="time" min="8:00" max="22:00" required class="form-control" id="Event_StartTime" name="Event_StartTime">
                                </div>
                                <div class="col-3">
                                    <h4>* </h4>
                                </div>
                                <div class="row ml-4">
                                    <h6>8:00 - 22:00</h6>
                                </div>
                            </div>
                            <div class="row m-4">
                                <div class="col-4">
                                    <label for="Event_EndDate" class="col-form-label">เวลาสิ้นสุดกิจกรรม</label>
                                </div>
                                <div class="col-5">
                                    <input type="time" min="8:00" max="22:00" required class="form-control" id="Event_EndTime" name="Event_EndTime">
                                </div>
                                <div class="col-3">
                                    <h4>*</h4>
                                </div>
                                <div class="row ml-4">
                                    <h6>8:00 - 22:00</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col personal-info">
                            <div class="row m-4">
                                <div class="col-4">
                                    <label for="Event_Semester" class="col-form-label">ปีการศึกษา</label>
                                </div>
                                <div class="col-7">
                                    <select type="text" class="form-control" id="Event_Year" name="Event_Year" required>

                                    </select>
                                </div>
                                <div class="col-1">
                                    <h4>*</h4>
                                </div>
                            </div>
                            <div class="row m-4">
                                <div class="col-4">
                                    <label for="Event_Semester" class="col-form-label">ภาคการศึกษา</label>
                                </div>
                                <div class="col-7">
                                    <select type="text" class="form-control" id="Event_Semester" name="Event_Semester" required>
                                        <option value="">-Please Select-</option>
                                        <option value="1">Semester 1</option>
                                        <option value="2">Semester 2</option>
                                        <option value="3">Semester 3</option>
                                    </select>
                                </div>
                                <div class="col-1">
                                    <h4>*</h4>
                                </div>
                            </div>
                            <div class="row m-4">
                                <div class="col-5">
                                    <label for="Event_Type" class="col-form-label">ประเภทของกิจกรรม</label>
                                </div>
                                <div class="col-6">
                                    <select type="text" class="form-control" id="Event_Type" name="Event_Type" required>
                                    </select>
                                </div>
                                <div class="col-1">
                                    <h4>*</h4>
                                </div>
                            </div>
                            <div class="row m-4">
                                <div class="col-2">
                                    <label for="Event_CreatedBy" class="col-form-label">จัดโดย</label>
                                </div>
                                <div class="col-9">
                                    <select type="text" class="form-control" id="Event_CreatedBy" name="Event_CreatedBy" required>

                                    </select>
                                </div>
                                <div class="col-1">
                                    <h4>*</h4>
                                </div>
                            </div>
                            <div class="row m-4">
                                <div class="col-2">
                                    <label for="Event_Location" class="col-form-label">สถานที่</label>
                                </div>
                                <div class="col-9">
                                    <textarea type="text" class="form-control" id="Event_Location" name="Event_Location" rows="2" placeholder="สถานที่" required></textarea>
                                </div>
                                <div class="col-1">
                                    <h4>*</h4>
                                </div>
                            </div>
                            <div class="row m-4">
                                <div class="col-3">
                                    <label for="Event_Description" class="col-form-label">หมายเหตุ</label>
                                </div>
                                <div class="col-8">
                                    <textarea class="form-control" id="Event_Description" name="Event_Description" rows="5" required></textarea>
                                </div>
                                <div class="col-1">
                                    <h4>*</h4>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row-4 mr-3 d-flex justify-content-center">
                        <div class="col-2">
                            <button type="submit" value="upload" class="btn btn-primary btn-lg btn-block">Save Edit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="line"></div>

        </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
        // var today = new Date().toISOString().split('T')[0];
        // document.getElementsByName("Event_StartDate")[0].setAttribute('min', today);
        // document.getElementsByName("Event_EndDate")[0].setAttribute('min', today);  
        document.getElementById("username").innerHTML = "User : " + name

        
        var data = "{{data}}"
        var data_all = JSON.parse(decodeURI(data))
        var dataEvent = [];
        var EventType = []
        var CreatedBy = [];
        var Year = [];

        let display_et = "<option disabled selected>-Please Select-</option>"
        let display_cb = "<option disabled selected>-Please Select-</option>"
        let display_year = "<option disabled selected>-Please Select-</option>"
        console.log(data_all)
        for (let i = 0; i < data_all.event.length; i++) {
            dataEvent.push(data_all.event[i])
        }
        for (let i = 0; i < data_all.eventtype.length; i++) {
            EventType.push(data_all.eventtype[i])
        }
        for (let i = 0; i < data_all.createdby.length; i++) {
            CreatedBy.push(data_all.createdby[i])
        }
        for (let i = 0; i < data_all.year.length; i++) {
            Year.push(data_all.year[i])
        }
        //console.log(EventType)

        var image2 = "<img id='img1'  height='50' src='"+ dataEvent[0].OpenEvent_Picture + "' style='width: 80%;height: auto;margin: 20px;'>"
        document.getElementById("Event_ID").value = dataEvent[0].OpenEvent_ID
        document.getElementById("Event_Name").value = dataEvent[0].OpenEvent_Name
        document.getElementById("Event_Point").value = dataEvent[0].OpenEvent_Point
        document.getElementById("Event_Location").value = dataEvent[0].OpenEvent_Location
        document.getElementById("Event_StartDate").value = dataEvent[0].OpenEvent_StartDate
        document.getElementById("Event_EndDate").value = dataEvent[0].OpenEvent_EndDate
        document.getElementById("Event_StartTime").value = dataEvent[0].OpenEvent_StartTime
        document.getElementById("Event_EndTime").value = dataEvent[0].OpenEvent_EndTime
        document.getElementById("Event_Semester").value = dataEvent[0].OpenEvent_Semeter
        document.getElementById("Event_Description").value = dataEvent[0].OpenEvent_Descrip
        

        for (let i = 0; i < EventType.length; i++) {
            display_et += "<option value=" + EventType[i].EventType_Name + ">" + EventType[i].EventType_Name + "</option>"
        }
        for (let i = 0; i < CreatedBy.length; i++) {
            display_cb += "<option value=" + CreatedBy[i].CreatedBy_Name + ">" + CreatedBy[i].CreatedBy_Name + "</option>"
        }
        for (let i = 0; i < Year.length; i++) {
            display_year += "<option value=" + Year[i].Year_Year + ">" + Year[i].Year_Year + "</option>"
        }
        document.getElementById("Event_Type").innerHTML = display_et
        document.getElementById("Event_CreatedBy").innerHTML = display_cb
        document.getElementById("img1").innerHTML = image2
        document.getElementById("Event_Year").innerHTML = display_year

        document.getElementById("Event_Year").value = dataEvent[0].OpenEvent_Year
        document.getElementById("Event_CreatedBy").value = dataEvent[0].CreatedBy_ID
        document.getElementById("Event_Type").value = dataEvent[0].EventType_ID


        var imageURL = ""
        function previewFile() {
            var preview = document.querySelector('img');
            var file = document.querySelector('input[type=file]').files[0];
            var reader = new FileReader();

            reader.addEventListener("load", function () {
                preview.src = reader.result;
                imageURL = reader.result
            }, false);

            if (file) {
                reader.readAsDataURL(file);

            }
        }
        



    </script>
</body>

</html>