<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Admin</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="style.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>
    <style>
        h4 {
            color: crimson;
        }
    </style>
</head>

<body>
     <h2 class="m-2 p-3 mb-2 bg-info text-white">Register</h2>
            <div class="container">
                <form action="http://localhost:3000/admin/save" method="POST">
                    <div class="row m-4 mt-5">
                        <div class="col-2">
                            <label for="Year_Year">Name</label>
                        </div>
                        <div class="col-4">
                            <input class="form-control" type="text" id="Admin_Name" name="Admin_Name" placeholder="ชื่อ" required></input>
                        </div>
                        <div class="col-1">
                            <h4>*</h4>
                        </div>
                    </div>
                    <div class="row m-4">
                        <div class="col-2">
                            <label for="Year_StartDate">Surname</label>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" id="Admin_Surname" name="Admin_Surname" placeholder="นามสกุล" required>
                        </div>
                        <div class="col-1">
                            <h4>*</h4>
                        </div>
                    </div>
                    <div class="row m-4">
                        <div class="col-2">
                            <label for="Year_EndDate">Username</label>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" id="Admin_Username" name="Admin_Username" placeholder="ชื่อผู้ใช้" required>
                        </div>
                        <div class="col-1">
                            <h4>*</h4>
                        </div>
                    </div>
                    <div class="row m-4">
                        <div class="col-2">
                            <label for="Year_EndDate">Password</label>
                        </div>
                        <div class="col-4">
                            <input type="password" class="form-control" id="Admin_Password" name="Admin_Password" placeholder="รหัสผ่าน" required>
                        </div>
                        <div class="col-1">
                            <h4>*</h4>
                        </div>
                    </div>
                    <div class="row-4 text-center ">
                        <button type="submit" class="btn btn-primary btn-lg">SAVE</button>
                    </div>
                </form>
            </div>
</body>